<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Neuroinformatics Short Course Malaysia</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

</head>


<body>
<script src=https://static.opentok.com/v2/js/opentok.min.js></script>
<div id="app">
<script src="app.js"></script>
</div>

<div id="otEmbedContainer" style="width:800px; height:640px;margin:auto;"></div>
<script src="https://tokbox.com/embed/embed/ot-embed.js?embedId=11d6fbe5-fb74-45b7-afa9-90332b177a7a"></script>

</body>
</html>
